.section-title {
  text-align: center;
}
.custom-section {
  padding-top: 50px;
  padding-bottom: 0px;
}
.custom-background{
  background:#FAEAE4;
}
.bg-light-blue {
  background-color:#9494e4
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
